<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/styles.css" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="validHeader">
      <div class="row1">
        <img src="/static/images/arrow-left.svg" alt="icon left" width="32" />
        <p>Achat Sécurisé</p>
      </div>

      <div class="row2">
        <div class="valid-page-bar"></div>
        <div class="next-page-bar"></div>
      </div>
    </header>
    <main>
      <section class="valid-main">
        <div class="product-photo-price-name">
          <img
            src="{{ data.mainImg }}"
            alt="product photo"
            width="80"
            height="80"
          />
          <div class="product-name-price">
            <p>{{ data.productName }}</p>
            <span>{{ data.productPrice }} €</span>
          </div>
        </div>
        <div class="capture-product">
          <h4>On récapitule votre achat !</h4>
          <div class="price">
            <p>Prix du véhicle</p>
            <span>{{ data.productPrice }} €</span>
          </div>
          <div class="note">
            <span
              >S'il y a eu négociation avec le vendeur, vous pouvez adapter le
              montant total à virer sur votre compte leboncoin en conséquence
              dans les étapes suivantes.</span
            >
          </div>
          <div class="tax">
            <p>Frais du paiement sécurisé</p>
            <span>{{ data.productTax }} €</span>
          </div>
          <div class="retreat">
            <p>je ne souhaite plus acheter le véhicule</p>
          </div>
        </div>
      </section>
      <section class="questions-contents" id="validationQuestBox">
        <div class="questions">
          <div class="question-box">
            <div class="ask">
              <p>Comment négocier le prix du véhicule ?</p>
              <img
                src="/static/images/arrow-right.svg"
                alt="icon-left"
                width="24"
              />
            </div>
            <div class="answer">
              <p>
                Négocie et dépose vos fonds sur le compteséquestre avec le moyen
                de paiement de vos choix.
              </p>
            </div>
          </div>
          <div class="question-box">
            <div class="ask">
              <p>Comment payer le vendeur ensuite ?</p>
              <img
                src="/static/images/arrow-right.svg"
                alt="icon-left"
                width="24"
              />
            </div>
            <div class="answer">
              <p>
                Paye instantanément le vendeur le jour de la remise des clés.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer id="validFooter">
      <div class="total">
        <p>Total :</p>
        <span>{{ data.totalPrice }} €</span>
      </div>
      <a href="{{ url_for('register') }}">Valider</a>
    </footer>

    <script>

      const questions = document.querySelectorAll(".question-box");
      questions.forEach((q) => {
          q.addEventListener('click', () => {
              q.classList.toggle('active')
          });
      });
    </script>
  </body>
</html>
